.nav-item {
  width: 130px;
}
.navbar-nav {
  display: flex;
  justify-content: space-evenly;
  width: 100%;
}
.wrapper {
  display: flex;
  flex-flow: column wrap;
}
.header {
  align-self: center;
  width: 80%;
  text-align: center;
  margin: 10px 0;
}
.h1 {
  text-align: left;
}
.nav {
  align-self: center;
  width: 100%;
  text-align: center;
  margin: 10px 0;
  background: #343a40;
  display: flex;
  justify-content: center;
}
.nav-inside {
  width: 80%;
  align-self: center;
}
